boto3==1.4.7
botocore==1.7.28
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
Django==1.11.6
docker==2.5.1
docker-pycreds==0.2.1
docutils==0.14
idna==2.6
image==1.5.16
Jinja2==2.9.6
jmespath==0.9.3
MarkupSafe==1.0
matplotlib==2.1.0
numpy==1.13.3
olefile==0.44
peewee==2.10.2
Pillow==4.3.0
psycopg2==2.7.3.1
pyparsing==2.2.0
python-dateutil==2.6.1
python-geoip==1.2
python-geoip-geolite2==2015.303
pytz==2017.2
requests==2.18.4
s3transfer==0.1.11
sip==4.19.3
six==1.11.0
tornado==4.5.2
urllib3==1.22
urlopen==1.0.0
websocket-client==0.44.0
