boto3==1.4.7
docker==2.5.1
docker-pycreds==0.2.1
docutils==0.14
idna==2.6
image==1.5.16
Jinja2==2.9.6
matplotlib==2.1.0
numpy==1.13.3
olefile==0.44
peewee==2.10.2
Pillow==4.3.0
psycopg2==2.7.3.1
requests==2.18.4
tornado==4.5.2
urllib3==1.22
urlopen==1.0.0
