boto3==1.4.7
image==1.5.16
Jinja2==2.9.6
matplotlib==1.1.0
numpy==1.7.0
peewee==2.10.2
Pillow==4.3.0
psycopg2==2.7.3.1
requests==2.18.4
tornado==4.5.2
urllib3==1.22
urlopen==1.0.0
argparse==1.2.1
distribute==0.6.24
gunicorn==17.5
wsgiref==0.1.2
scipy==0.11.0
scikit-learn==0.13.1