body, html {
  height: 100%;
  width: 100%;
}

.display {
  width: 50%;
  display: block;
  margin: 10% auto 0 auto;
}

.display h1 {
  font-size: 2.5em;
}

.big {
  width: 90%;
  margin-left: 5%;
  font-size: 2.5em;
}

.margin_top {
  margin-top: 5%;
}

h1, h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: lightblue;
}

.centered {
  width: 50%;
  text-align: left;
  margin: 0 auto;
  font-size: 1.75em;
}

.button {
  width: 50%;
  margin-left: 25%;
  text-align: center;
  font-size: 1em;
  color: white;
}

.weather_icon {
  display: block;
  margin: 0 auto;
}

.graph {
  display: block;
  margin: 0 auto;
}

footer {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
}

li {
  color: darkblue;
  list-style: none;
}

@media screen and (max-width: 320px) {
  .centered {
    margin-left: -35%;
  }
  .button {
    width: 100%;
    margin-left: 5%;
  }
  .pushed_down {
    margin-top: 35%;
    margin-bottom: 5%;
  }
  .pushed_down_more {
    margin-top: 30%;
  }
}

@media screen and (min-width: 330px) and (max-width: 360px) {
  .centered {
    margin-left: -25%;
  }
  .button {
    width: 100%;
    margin-left: 5%;
  }
  .pushed_down {
    margin-top: 35%;
    margin-bottom: 5%;

  }
  .pushed_down_more {
    margin-top: 45%;
  }
}

@media screen and (min-width: 370px) and (max-width: 412px) {
  .centered {
    margin-left: -23%;
  }
  .button {
    width: 100%;
    margin-left: 0%;
  }
  .pushed_down {
    margin-top: 35%;
    margin-bottom: 5%;
  }
  .pushed_down_more {
    margin-top: 45%;
  }
  img {
    margin-left: 18%;
  }
}

@media screen and (min-width: 412px) and (max-width: 412px) {
  .centered {
    margin-left: -20%;
  }
  .button {
    width: 100%;
    margin-left: 0%;
  }
  .pushed_down {
    margin-top: 35%;
    margin-bottom: 5%;
  }
  .pushed_down_more {
    margin-top: 45%;
  }
}

@media screen and (min-width: 413px) and (max-width: 500px) {
  .centered {
    margin-left: -18%;
  }
  .button {
    width: 100%;
    margin-left: 0%;
  }
  .pushed_down {
    margin-top: 35%;
    margin-bottom: 5%;
  }
  .pushed_down_more {
    margin-top: 40%;
  }
}

@media screen and (min-width: 568px) and (max-width: 570px) {
  .centered {
    margin-left: 0;
  }
  .pushed_down_more {
    margin-top: 10%;
  }
}

@media screen and (min-width: 640px) and (max-width: 732px) {
  .centered {
    margin-left: 10%;
  }
  .pushed_down {
    margin-top: 10%;
  }
  .pushed_down_more {
    margin-top: 15%;
  }
  .shift {
    margin-left: 5%;
  }
}

@media screen and (min-width: 732px) and (max-width: 768px){
  .centered {
    margin-left: 14%;
  }
  .pushed_down_more {
    margin-top: 15%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .centered {
    margin-left: 10%;
  }
  .pushed_down {
    margin-top: 30%;
    margin-bottom: 5%;
  }
  .pushed_down_more {
    margin-top: 45%;
  }
  .pushed {
    margin-top: 30%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1365px){
  .centered {
    margin-left: 22%;
  }
  .pushed_down {
    margin-bottom: 5%;
  }
  .pushed_down_more {
    margin-top: 25%;
  }
  .pushed {
    margin-top: 15%;
  }
}
@media screen and (min-width: 1366px) {
  .centered {
    margin-left: 30%;
  }
  .pushed_down {
    margin-bottom: 5%;
  }
}

.chart {
  width: 200px;
  height: 300px;
}
